# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("../output_data/weather_data.csv")
weather_data

,City,Country,Latitude,Longitude,Date,Cloudiness (%),Humidity (%),Max Temperature (°C),Wind Speed (m/s)
0,Hobart,AU,-42.8794,147.3294,1622657628,90,76,12.37,0.45
1,Saint-Philippe,RE,-21.3585,55.7679,1622657628,91,82,23.77,6.36
2,Gejiu,CN,23.3060,103.1635,1622657629,83,87,15.81,1.11
3,Acapulco de Juárez,MX,16.8634,-99.8901,1622657629,75,58,31.90,3.13
4,Yurgamysh,RU,55.3714,64.4656,1622657629,97,53,14.33,2.39
...,...,...,...,...,...,...,...,...,...
539,Kendal,GB,54.3268,-2.7476,1622657822,85,77,22.73,6.13
540,Yulara,AU,-25.2406,130.9889,1622657943,82,76,9.91,3.09
541,Catalina,US,32.5056,-110.9211,1622657944,76,15,34.54,0.89
542,Ambilobe,MG,-13.2000,49.0500,1622657944,39,76,22.21,1.79
543,Nhulunbuy,AU,-12.2333,136.7667,1622657944,8,94,21.34,2.57

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:

# Configure gmaps
gmaps.configure(api_key = g_key)

# Store Humidity as weight, find maxiumum Humidity
humidity = weather_data["Humidity (%)"]
humidity_max = float(humidity.max())

# Store Latitude and Longitude as locations
locations = weather_data[["Latitude", "Longitude"]]

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create Heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = humidity_max, point_radius = 3)

# Add Heat layer and display
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Find cities with max temperature between 21°C and 27°C, wind speed less than 5 m/s and 0 cloudiness
narrowed_weather_data = weather_data.loc[(weather_data["Max Temperature (°C)"] > 21) & (weather_data["Max Temperature (°C)"] < 27) & (weather_data["Cloudiness (%)"] == 0) & (weather_data["Wind Speed (m/s)"] < 5), :]

# Drop any rows with null values
narrowed_weather_data = narrowed_weather_data.dropna(how='any')
narrowed_weather_data.reset_index(inplace=True)
del narrowed_weather_data['index']

# Display narrowed down cities
narrowed_weather_data

,City,Country,Latitude,Longitude,Date,Cloudiness (%),Humidity (%),Max Temperature (°C),Wind Speed (m/s)
0,Kumul,CN,42.8000,93.4500,1622657631,0,10,25.20,4.82
1,Cogoleto,IT,44.3893,8.6429,1622657701,0,80,23.63,0.61
2,Murmashi,RU,68.8154,32.8115,1622657760,0,31,23.23,2.00
3,Arraial do Cabo,BR,-22.9661,-42.0278,1622657771,0,73,26.98,4.63
4,Kiryat Gat,IL,31.6100,34.7642,1622657772,0,14,23.23,4.10
5,Old Town,CZ,50.0870,14.4202,1622657874,0,47,21.50,3.60
6,Hof,DE,50.3167,11.9167,1622657801,0,42,22.51,3.60
7,Manavgat,TR,36.7867,31.4431,1622657918,0,69,25.46,0.63

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:

# Store into hotel_df variable
hotel_df = narrowed_weather_data

# Add Hotel Name column
hotel_df["Hotel Name"] = " "

# Display new DataFrame
hotel_df

,City,Country,Latitude,Longitude,Date,Cloudiness (%),Humidity (%),Max Temperature (°C),Wind Speed (m/s),Hotel Name
0,Kumul,CN,42.8000,93.4500,1622657631,0,10,25.20,4.82,
1,Cogoleto,IT,44.3893,8.6429,1622657701,0,80,23.63,0.61,
2,Murmashi,RU,68.8154,32.8115,1622657760,0,31,23.23,2.00,
3,Arraial do Cabo,BR,-22.9661,-42.0278,1622657771,0,73,26.98,4.63,
4,Kiryat Gat,IL,31.6100,34.7642,1622657772,0,14,23.23,4.10,
5,Old Town,CZ,50.0870,14.4202,1622657874,0,47,21.50,3.60,
6,Hof,DE,50.3167,11.9167,1622657801,0,42,22.51,3.60,
7,Manavgat,TR,36.7867,31.4431,1622657918,0,69,25.46,0.63,

In [12]:
# Empty list to hold hotel names
hotel_ls = []

# Construct URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters
params = {"type": "hotel",
          "keyword": "hotel",
          "radius": 5000,
          "key" : g_key}

# Iterate through cities in hotel_df
for index, row in hotel_df.iterrows():
    
    # Find latitude and longitude for each city in DataFrame
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    # Add location to parameters
    params["location"] = f"{lat},{lng}"
    
    # Construct URL and make API request
    response = requests.get(base_url, params = params).json()
    
    try:
        hotel_ls.append(response["results"][0]["name"])
    
    except:
        hotel_ls.append("NaN")

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
hotel_df["Hotel Name"] = hotel_ls
hotel_df

,City,Country,Latitude,Longitude,Date,Cloudiness (%),Humidity (%),Max Temperature (°C),Wind Speed (m/s),Hotel Name
0,Kumul,CN,42.8000,93.4500,1622657631,0,10,25.20,4.82,NaN
1,Cogoleto,IT,44.3893,8.6429,1622657701,0,80,23.63,0.61,NaN
2,Murmashi,RU,68.8154,32.8115,1622657760,0,31,23.23,2.00,NaN
3,Arraial do Cabo,BR,-22.9661,-42.0278,1622657771,0,73,26.98,4.63,NaN
4,Kiryat Gat,IL,31.6100,34.7642,1622657772,0,14,23.23,4.10,NaN
5,Old Town,CZ,50.0870,14.4202,1622657874,0,47,21.50,3.60,NaN
6,Hof,DE,50.3167,11.9167,1622657801,0,42,22.51,3.60,NaN
7,Manavgat,TR,36.7867,31.4431,1622657918,0,69,25.46,0.63,NaN

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))